/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Add some margin to the entire page */
  body {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #192026;
  }
  